<h2>List of actual connections:</h2>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Connection id</th>
      <th scope="col">Provider Name</th>
      <th scope="col">Country code</th>
      <th scope="col">Updated at</th>
      <th scope="col">Accounts</th>
    </tr>
  </thead>
  <tbody>
  <% @connections.each.with_index(1) do |connection, index| %>
    <tr>
      <% con = connection.data %>
      <td><%= index %>
      <td><%= con['id'] %></td>
      <td><%= con['provider_name'] %></td>
      <td><%= con['country_code'] %></td>
      <td><%= con['updated_at'] %></td>
      <td><%= link_to 'Accounts', connection_accounts_path(index) %></td>
    </tr>
  <% end %>
  </tbody>
</table>
